doctype 5
html(lang="pt")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1.not_found A página que você está procurando não pode ser encontrada
    img(src='/images/404.jpg')
    p.not_found Ir para 
      a(href= "/", title=hostname,class="url") mini.mycode.cc