doctype 5
html(lang="pt")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="http://jquery.bassistance.de/validate/jquery.validate.js")
    script(src="http://jquery.bassistance.de/validate/additional-methods.js")
  body
    block content