body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.logo {
  background-image: url('/../images/logo.jpeg');
  background-repeat: no-repeat;
  height: 100px;
  padding-top: 37px;
  padding-left: 132px;
}
h1.logo {
	margin-top: 0;
	margin-bottom: 0;
}
.urls th {
  color: #ccc;
  background: #555555;
  border: 1px solid #555555;
  font-size: 14px;
  padding: 5px;
  vertical-align: top;
  text-align: left;
}
.urls td {
  border: 1px solid #d4;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: top;
}
.urls table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.border {
    border: #ddd solid 1px;
}

.urls tbody {
  
}

.urls tr:nth-child(even) {
  background-color: #eee;
}
.urls a.short:hover, .urls a.url:hover {
  color: #00B7FF;
}
.urls a.short, .urls a.url {
  color: #555;
}
.urls a.short {
  font-weight: bold;
  line-height: 2;
}
h1.not_found {
  color: #00B7FF;
}
p.not_found {
  color: #aaa;
  font-size: 16px;
}
.not_found{
  font-family: arial;
}
.not_found a {
  text-decoration: none;
}
#form_url .indent label.error {
  margin-left: 0;
}

#form_url label.error {
  font-size: 0.8em;
  color: #F00;
  font-weight: bold;
  display: block;
  height: 15;
  padding-top: 8px;
}

#form_url input.error, #form_url select.error {
  background: #FFA9B8;
  border: 1px solid red;
}

#form_url input#url  {
  padding: 5px;
  width: 250px;
}
#form_url label#label_url  {
  padding: 5px;
  width: 20px;
}
.generated {
  padding: 20px;
  width: 300px;
  background: #eee;
}
.generated span {
  background: #ccc;
  margin-left: 37px;
  padding-bottom: 10px;
}